/*header{
	text-align: center;
	text-decoration-style: initial;
	font-style: italic;
	background-repeat: no-repeat;
	background-color: #ffccff;
	padding-right: 20px;
	padding-left: 20px;
}*/
img{
	width:20%;
	height: 50%;
	
}
div {
  width: 1000px;
  height: 500px;
  display: all;
  position: center;
}

div:after {
  content: "";
  background: url(dammy.jpg);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
  /*z-index: -1;   
  /*background-repeat: no-repeat;*/




}
h1{
	font-size:30px;
}

.container{
	/*background-color: #ffccff;*/
	padding: 300px;
	margin: center;
	padding-top: 10px;
	padding:200px;
	position: center;
}
.me{
	text-decoration-style: none;
	font color:pink;
	text-align: center;
	background-color:black;
	font-style: italic;
}
body{
	text-align: center;
	/*background-image:url("dammy.jpg");
    background-filter:alpha(opacity=10);
	background-position:center;
    background-repeat: no-repeat;
    background-size: 1500px;
    z-index:-1;
    /*background-color: #4d004d;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 30px;
    font-weight: normal;*/
   


	
}
.img-circle {
    border-radius: 50%;
    float:left;
    width: 4%;
    height: 20%
    margin-left:50px;

   }
   img{
   	size: 20%;
   }


 
